.button {
    box-shadow: none;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    background: #00A1CB;
    color: #FFF;
    text-shadow: none;
    border: none;
}

.buttonLarge {
    font-size: 18px;
    height: 38.4px;
    line-height: 38.4px;
    padding: 0 30.72px;
}